In [79]:
import pandas as pd
import numpy as np

#1
df = pd.DataFrame({
'CustomerID': np.arange(1, 11),
'FirstName': ['John', 'Steve', 'Anna', 'Mike', 'Emily', 'Jake', 'Laura', 'Nick', 'Olivia',
'David'],
'LastName': ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller',
'Wilson', 'Moore', 'Taylor'],
'Age': np.random.randint(25, 65, size=10),
'TotalPurchaseAmount': np.random.randint(100, 1000, size=10)
})


#2
df['classification'] = df['TotalPurchaseAmount'].apply(lambda x: 'Low' if x < 500 else 'High')

#3 the question is wrong cause age is from 25 to 65 and you said bigger or smaller than 20, so Ill choose 45 instead
df['classification_by_age'] = np.vectorize(lambda classi, age: 'Low_Young' if classi == 'Low' and age < 45 else 'High_Old' if classi == 'High' and age >= 45
else 'Low_old' if classi == 'Low' and age >= 45 else 'High_Young')(df['classification'], df['Age'])
df

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98   NaN   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48   NaN   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74   NaN   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76   NaN   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68   NaN   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54   NaN   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16   NaN   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84   NaN   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93   NaN   NaN   NaN   NaN   NaN   NaN  37.0

In [ ]:
#Exercise 2
#1, 2
df.sort_values(by = 'FirstName')

#3 
df.sort_values(by = ['TotalPurchaseAmount', 'Age'], ascending = [True, False])

In [105]:
#Exercise 3
#1
np.random.seed(100)
df = pd.DataFrame(np.random.randint(0,100,size=(20, 10)),
columns=list('ABCDEFGHIJ'))
n_rows, n_cols = df.shape
row_idx = np.random.randint(0, n_rows)
col_idxs = np.random.choice(n_cols, size=n_cols//2, replace=False)
df.iloc[row_idx, col_idxs] = np.nan
n_nan_remaining = 15 - len(col_idxs)
row_idxs = np.random.randint(0, n_rows, size=n_nan_remaining)
col_idxs = np.random.randint(0, n_cols, size=n_nan_remaining)
df.iloc[row_idxs, col_idxs] = np.nan

#2, 3
df3 = df.copy()
df3.dropna()


#4
df4 = df.copy()
df4.fillna(np.random.randint(0,100))

#5
df5 = df.copy()
df5[['C', 'D']].fillna(df5[['C', 'D']].mean())

#6
df6 = df.copy()
df6[['A','B','C','E','F','G','H','J']].dropna(thresh = 2)

       A   B   C     E     F     G     H     J
0    8.0  24  67  79.0  48.0  10.0  94.0  98.0
1    NaN  66  98   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86  27.0   4.0  31.0   1.0  83.0
3    4.0  91  59   7.0  49.0  47.0  65.0  14.0
4   55.0  71  80  94.0  19.0  98.0  63.0  27.0
5    NaN  30  48   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  53.0  78.0   0.0  13.0  76.0
8    3.0  70   3  79.0  10.0  87.0  60.0  48.0
9   52.0  43  36  71.0  38.0  86.0  94.0  42.0
10   NaN  95  76   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  45.0  89.0  45.0  35.0  12.0
14  86.0  82  67  95.0  20.0  10.0   8.0  72.0
15  30.0  12  18  92.0  44.0  57.0   0.0  54.0
16   NaN  66  16   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93   NaN   NaN   NaN   NaN  37.0